# Import Commen Modules

In [95]:
from pathlib import Path
import numpy as np
import pandas as pd

# Load Files

In [96]:
DATA_PATH = Path.cwd().parent

In [128]:
train_df = pd.read_csv(
    DATA_PATH / "train.csv", 
    index_col="tripid"
)
test_df = pd.read_csv(
    DATA_PATH /"test.csv", 
    index_col="tripid"
)
submission_df=pd.read_csv(
    DATA_PATH /"sample_submission.csv", 
    index_col="tripid"
)

In [129]:
train_df.dtypes

additional_fare              float64
duration                     float64
meter_waiting                float64
meter_waiting_fare           float64
meter_waiting_till_pickup    float64
pickup_time                   object
drop_time                     object
pick_lat                     float64
pick_lon                     float64
drop_lat                     float64
drop_lon                     float64
fare                         float64
label                         object
dtype: object

In [130]:
train_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
tripid,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,correct
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,correct
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,correct
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,correct
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,correct

# Make Lable Colum

In [131]:
lbl=[]
for index, row in train_df.iterrows():
  label=row['label']
  
  if(label=="correct"):
    lbl.append(1)
  elif(label=="incorrect"):
    lbl.append(0)

train_df['lb']=lbl

In [132]:
labels_df=pd.DataFrame(train_df['lb'])
features_df=train_df.drop(labels=['label','lb'],axis=1)
features_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
tripid,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39
...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57

# Calculate Distance

In [138]:
from math import radians, cos, sin, asin, sqrt 

def getDistance(df):
  # The math module contains a function named 
    # radians which converts from degrees to radians. 
  dist=[]
  for index, row in df.iterrows():
    lon1 = radians(row['pick_lon']) 
    lon2 = radians(row['drop_lon']) 
    lat1 = radians(row['pick_lat']) 
    lat2 = radians(row['drop_lat']) 
       
    # Haversine formula  
    dlon = lon2 - lon1  
    dlat = lat2 - lat1 
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  
    c = 2 * asin(sqrt(a))  
     
    # Radius of earth in kilometers. Use 3956 for miles 
    r = 6371
       
    # calculate the result 
    distance=c * r
    dist.append(distance)
  
  return dist

features_df['distence']=getDistance(features_df)

# Fare per Distence

In [189]:
def get_fare_per_distance(df):
  fare_per_dist=[]
  for index, row in df.iterrows():
    if(row['distence']==0):
     
      fare_per_dist.append(0)
    else:
      fare_per_distance=(float(row['fare'])-float(row['meter_waiting_fare']))/float(row['distence'])
      
      fare_per_dist.append(fare_per_distance)
  
  return fare_per_dist

features_df['Fare_per_dist']=get_fare_per_distance(features_df)

# Define Features

In [190]:
final_features_df=features_df

In [191]:
numeric_cols = ['additional_fare','duration','meter_waiting','meter_waiting_fare','meter_waiting_till_pickup','pick_lat','pick_lon','drop_lat','drop_lon','fare','distence','Fare_per_dist']

# Develope the Model

In [207]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier
RANDOM_SEED = 6

In [208]:
preprocessing_steps = Pipeline([
    ('standard_scaler', StandardScaler()),
    ('simple_imputer', SimpleImputer(strategy='mean'))
])

preprocessor = ColumnTransformer(
    transformers = [
        ("numeric", preprocessing_steps, numeric_cols)
    ],
    remainder = "drop"
)

In [209]:
estimators=RandomForestClassifier(bootstrap= False,max_depth= 20,max_features= 'auto',min_samples_leaf= 4,min_samples_split= 2,n_estimators= 754)

In [210]:
full_pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("estimators", estimators),
])

In [211]:
X_train, X_eval, y_train, y_eval = train_test_split(
    final_features_df,
    labels_df,
    test_size=0.2,
    shuffle=True,
    random_state=RANDOM_SEED
)

In [212]:
full_pipeline.fit(X_train, y_train)
preds = full_pipeline.predict(X_eval)
X_eval

/home/pinsara/anaconda3/lib/python3.7/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,distence,Fare_per_dist
tripid,,,,,,,,,,,,,,
193047517,10.5,2367.0,582.0,33.639600,75.0,11/19/2019 11:12,11/19/2019 11:51,6.89594,79.8548,6.89593,79.8548,429.73,0.001112,356212.654625
198652287,10.5,3720.0,1135.0,65.638654,56.0,12/7/2019 13:48,12/7/2019 14:50,6.92474,79.8630,6.97773,79.9353,483.97,9.919850,42.171136
195121243,60.5,1304.0,107.0,6.200706,29.0,11/26/2019 16:58,11/26/2019 17:20,6.91931,79.8483,6.89023,79.8690,192.88,3.959451,47.147777
202252177,10.5,1873.0,190.0,0.000000,86.0,12/20/2019 0:04,12/20/2019 0:36,6.93287,79.8419,6.86342,79.8749,492.16,8.538578,57.639572
209859145,10.5,599.0,22.0,0.000000,50.0,1/15/2020 13:01,1/15/2020 13:11,6.87892,79.8999,6.90924,79.8974,140.13,3.382707,41.425406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210921317,10.5,1143.0,99.0,5.771700,122.0,1/20/2020 10:44,1/20/2020 11:03,7.29410,80.6517,7.29334,80.6386,214.25,1.447336,144.042770
189425347,10.5,2234.0,216.0,0.000000,75.0,11/2/2019 16:39,11/2/2019 17:16,6.96165,79.8666,6.87922,79.8599,384.36,9.195587,41.798309
208861056,10.5,1561.0,81.0,0.000000,250.0,1/11/2020 17:53,1/11/2020 18:19,6.91089,79.9798,6.91809,79.9081,391.32,7.955079,49.191212
193846008,5.0,827.0,2.0,0.116600,0.0,11/22/2019 11:59,11/22/2019 12:13,6.88072,79.8595,6.84538,79.8696,227.51,4.084759,55.668745
207214188,5.0,157.0,3.0,0.174900,0.0,1/5/2020 20:45,1/5/2020 20:48,6.88242,79.8849,6.87443,79.8910,78.05,1.114817,69.854631

In [213]:
np.testing.assert_array_equal(final_features_df.index.values,labels_df.index.values)

# Train for Full dataset

In [214]:
full_pipeline.fit(final_features_df,labels_df)
final_features_df

/home/pinsara/anaconda3/lib/python3.7/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,distence,Fare_per_dist
tripid,,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,5.092770,53.079170
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,3.168058,62.451516
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,6.305395,47.838398
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,0.861946,77.309009
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,8.147782,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,2.105376,91.593204
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,10.868377,53.479005
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,1.045518,72.882500
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,2.879077,46.303037
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,2.115875,46.007300

# Prepare Featurs of test Dataset

In [215]:
test_df['distence']=getDistance(test_df)
test_df['Fare_per_dist']=get_fare_per_distance(test_df)
test_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,distence,Fare_per_dist
tripid,,,,,,,,,,,,,,
213284604,10.5,924,42,2.44860,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27,6.705702,42.772765
213286352,10.5,4249,20,0.00000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70,41.558513,46.024264
213293973,10.5,1552,255,2.65880,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00,5.916678,66.142047
213294622,10.5,462,16,0.00000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32,3.301761,46.738692
213298687,10.5,814,392,12.36920,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47,2.588542,52.191855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222856243,10.5,1723,429,24.83332,3,3/16/2020 21:28,3/16/2020 21:56,6.85103,79.9567,6.85588,79.9214,388.48,3.934272,92.430498
222857785,10.5,1378,80,0.00000,125,3/16/2020 21:59,3/16/2020 22:22,6.91293,79.9656,6.92112,79.8980,379.85,7.517433,50.529219
222858416,10.5,418,56,3.28440,93,3/16/2020 22:02,3/16/2020 22:09,6.85718,79.9081,6.83868,79.9083,112.79,2.057225,53.229773
222858691,10.5,1604,548,31.67440,17,3/16/2020 22:07,3/16/2020 22:34,6.91289,79.8846,6.93159,79.9145,248.46,3.900888,55.573391
222860703,10.5,1698,691,32.88820,42,3/16/2020 22:58,3/16/2020 23:26,6.91682,79.9192,6.87020,79.9340,339.63,5.435270,56.435430

In [216]:
test_dataset_pred=full_pipeline.predict(test_df)
test_dataset_pred

array([1, 1, 1, ..., 1, 1, 1])

In [217]:
submission_df['prediction']=test_dataset_pred

In [218]:
submission_df

           prediction
tripid
213284604           1
213286352           1
213293973           1
213294622           1
213298687           1
...               ...
222856243           1
222857785           1
222858416           1
222858691           1
222860703           1

[8576 rows x 1 columns]

In [219]:
submission_df.to_csv("submission_6.csv",index=True)